<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title></title>
</head>

<body>

  <a target="_blank" href="https://www.mcafeesecure.com/verify?host=queue-it.com"><img style='padding: 5px 22px 0 0;' src="../img/mcafee-1.png" alt="McAfee Secure Logo"></a>
  <a target="_blank" href="https://twitter.com/queueit"><img style='padding: 5px 22px 0 0;' src="../img/twitter_hover-1.png" alt="Twitter Logo"></a>
  <a target="_blank" href="https://www.linkedin.com/company/1073758/"><img style='padding: 5px 22px 0 0;' src="../img/Linkedin_hover-1.png" alt="LinkedIn Logo"></a>
  <a target="_blank" href="https://www.facebook.com/Queueit/"><img style='padding: 5px 22px 0 0;' src="../img/fb_hover-1.png" alt="Facebook Logo"></a>

</body>

</html>
